* {
	font-family: 'Lexend Mega', serif;
}

.shadow-brutal {
	box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 1);
}
.border-brutal {
	border-width: 2px;
	border-color: black;
}
.custom-bg {
	background-image: url('../images/bg.jpg');
	background-size: cover;
	background-position: center;
}
